# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build and distribution directories
dist/
dist-ssr/
.next/
out/
build/
coverage/
vercel-ignore.txt
.vercel/

# Local environment files / Environment variables
.env
.env*
.env.local
.env.development.local
.env.production.local
.env.test.local

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Miscellaneous
.tmp/
.cache/
.pnpm-store/
